body{
  background-color: rgb(54, 167, 177);
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
input{
  height: 35px;
  width: 165px;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 40px;
}
li{
  margin-top: 15px;
}

button{
  height: 30px;
  width: 60px;
  background-color: rgb(49, 16, 22);
  color: white;
  font-size: 1.05rem;
  margin-top: 10px;
  cursor: pointer;
}
.x-button {
  
 
  font-size: 10px; 
  padding: 2px;
  border: 1px solid black;
  cursor: pointer;
  width: 25px;
  height: 20px;
  border-radius: 100%;
  
}
.x-button:hover {
  background-color: #571515; 
}

.list-item {
  display:flex;
  align-items: center;
}

.text {
  margin-right: 8px;
}

.main-container {
  border: 15px solid black; 
  max-width: 500px; 
  height: 700px;
  margin: 0 auto; 
}

.quote-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: auto;
}


